<h1>ユーザー登録</h1>
<br>
<%= form_tag "/users/create" do %>
  <form>
    <% @user.errors.full_messages.each do |message| %>
      <div class="mb-1 text-danger">
        <%= message %>
      </div>
    <% end %>
    <div class="mb-3">
      <label class="form-label">ユーザー名</label>
      <input class="form-control" name="name" value="<%= @user.name %>">
    </div>
    <div class="mb-3">
      <label class="form-label">メールアドレス</label>
      <input class="form-control" name="email" value="<%= @user.email %>">
    </div>
    <div class="mb-3">
      <label class="form-label">パスワード</label>
      <input class="form-control" type="password" name="password" value="<%= @user.password %>">
    </div>
    <button type="submit" class="btn btn-outline-success">新規登録</button>
  </form>
<% end %>