<div class="container">
  <div class="card  mx-auto" style="margin-top: 50px;">
    <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.to_fs(:datetime_jp) %></h6>
      <p class="card-text"><%= @post.thoughts %></p>
      <div class="row">
        <div class="col-1">
          <%= button_to "編集", "/posts/#{@post.id}/edit", {method: "get", class: "btn btn-primary"} %>
        </div>
        <div class="col-1">
          <%= button_to "削除", "/posts/#{@post.id}/destroy", {method: "post",  class: "btn btn-primary"} %>
        </div>
      </div>
    </div>
  </div>
</div>